<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDksEP6Doik_8JtZOiDAzTYPw2f0jyboQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>392636948938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marina.sharing</string>
	<key>PROJECT_ID</key>
	<string>maring-d2350</string>
	<key>STORAGE_BUCKET</key>
	<string>maring-d2350.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392636948938:ios:4c680c51161007cc246f33</string>
</dict>
</plist>